.container {
  max-width: 600px;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.my-preloader {
  display: none;
  z-index: 100;
  margin: 40px;
}

.my-preloader.active {
  display: inline-block;
}

.card-p {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.pagination {
  padding: 0 0 64px;
}
